:root {

    --brand-coca: #D91A2A;
    --brand-zero: #111111;
    --brand-light: #E0E0E0;

    --font-main: "Inter", sans-serif;

    --accent: #D91A2A;
    --text-nav: #000000;
    --text-main: #ffffff;
    --bg-footer-button: #d3d3d3;
    --bg-loader: #E5232F;
    --bg-modal-overlay: rgba(0, 0, 0, 0.5);
    --bg-footer: #ffffff;
}